serveur/CurrencyConverterWSServlet/web/WEB-INF/wsdl/localhost_8080/CurrencyConverterWS/CurrencyConverterWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cservice/" name="CurrencyConverterWS">
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="CurrencyConverterWSPortBinding_getConversionRates_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="CurrencyConverterWSPortBinding_getLocalConversionRates_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns2:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="CurrencyConverterWSPortBinding_getConversionRatesV2_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns3:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://cservice/" schemaLocation="http://localhost:8080/CurrencyConverterWS/CurrencyConverterWS?xsd=1" />
</xsd:schema>
</types>
<message name="getConversionRates">
<part name="parameters" element="tns:getConversionRates" />
</message>
<message name="getConversionRatesResponse">
<part name="parameters" element="tns:getConversionRatesResponse" />
</message>
<message name="getConversionRatesV2">
<part name="parameters" element="tns:getConversionRatesV2" />
</message>
<message name="getConversionRatesV2Response">
<part name="parameters" element="tns:getConversionRatesV2Response" />
</message>
<message name="getLocalConversionRates">
<part name="parameters" element="tns:getLocalConversionRates" />
</message>
<message name="getLocalConversionRatesResponse">
<part name="parameters" element="tns:getLocalConversionRatesResponse" />
</message>
<portType name="CurrencyConverterWS">
<operation name="getConversionRates">
<input wsam:Action="http://cservice/CurrencyConverterWS/getConversionRatesRequest" message="tns:getConversionRates" />
<output wsam:Action="http://cservice/CurrencyConverterWS/getConversionRatesResponse" message="tns:getConversionRatesResponse" />
</operation>
<operation name="getConversionRatesV2">
<input wsam:Action="http://cservice/CurrencyConverterWS/getConversionRatesV2Request" message="tns:getConversionRatesV2" />
<output wsam:Action="http://cservice/CurrencyConverterWS/getConversionRatesV2Response" message="tns:getConversionRatesV2Response" />
</operation>
<operation name="getLocalConversionRates">
<input wsam:Action="http://cservice/CurrencyConverterWS/getLocalConversionRatesRequest" message="tns:getLocalConversionRates" />
<output wsam:Action="http://cservice/CurrencyConverterWS/getLocalConversionRatesResponse" message="tns:getLocalConversionRatesResponse" />
</operation>
</portType>
<binding name="CurrencyConverterWSPortBinding" type="tns:CurrencyConverterWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getConversionRates">
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getConversionRates_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getConversionRates_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getConversionRates_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="getConversionRatesV2">
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getConversionRatesV2_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getConversionRatesV2_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getConversionRatesV2_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="getLocalConversionRates">
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getLocalConversionRates_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getLocalConversionRates_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#CurrencyConverterWSPortBinding_getLocalConversionRates_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CurrencyConverterWS">
<port name="CurrencyConverterWSPort" binding="tns:CurrencyConverterWSPortBinding">
<soap:address location="http://localhost:8080/CurrencyConverterWS/CurrencyConverterWS" />
</port>
</service>
</definitions>